h2 {
  padding-top: 20%;
  padding-bottom: 10%;
  font-family: Arial, Helvetica, sans-serif;
}

mat-slider {
    width: 300px;
  }

[custIcon]{ 
  color: rgb(5, 22, 76);
  padding-top: 25%;
  font-size: 100px;
}