[home]{
    padding-top: -5%;
}

[mgrn]{
    margin: 6%;
    background-color: white;
    list-style: none;
}

[clr]{
    color: white;
    text-align: center;
    padding-top: 5%;
}

[custIcon]{
    color: rgb(5, 22, 76);
    padding-left: 20%;
}


