<div class="container-fluid">

  <a href="standUpC">
    <div class="container">
      <i class="fa fa-play" custIcon></i><button class="btn " mgrn>Daily Stand Up</button>
    </div>
  </a>
  <a href="#">
    <div class="container">
      <i class="fa fa-play" custIcon></i><button class="btn " mgrn>Sprint Review</button>
    </div>
  </a>
  <a href="#">
    <div class="container">
      <i class="fa fa-play" custIcon></i><button class="btn " mgrn>Sprint Retrospektive</button>
    </div>
  </a>
  <a href="pPoker">
    <div class="container">
      <i class="fa fa-play" custIcon></i><button class="btn " mgrn>Planning Poker</button>
    </div>
  </a>

</div>