[home]{
    padding-top: -5%;
}

[header]{
    height: 200px !important;
    width: 100%;
    background-color: blue;
}

[mgrn]{
    margin: 5%;
    margin-left: 0;
    width: 100%;
    background-color: white;
    border: 2px solid whitesmoke;
    list-style: none;
}



[clr]{
    color: white;
    text-align: center;
    padding-top: 5%;
}